@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..500;1,300..500&display=swap');
@import 'tailwindcss';

@plugin 'daisyui';

@theme {
  --font-rubik: 'Rubik', ui-sans-serif;
}

html.results-found #header {
  display: none !important;
}

html.results-found main {
  display: none !important;
}

html.results-found #results {
  display: grid !important;
}
